Host *
    AddressFamily inet
    Protocol 2
    Compression yes
    ServerAliveInterval 60
    ServerAliveCountMax 20
    ControlMaster auto
    ControlPath  ~/.ssh/sockets/%r@%h-%p
    ControlPersist 600
    PreferredAuthentications publickey
    PasswordAuthentication no
    ConnectTimeout 3

    # If you are in an environment that disallows the use of SSH and forces the
    # use of an HTTP proxy, it is possible to use that HTTP proxy as a
    # transport for SSH. Examples:
    # ProxyCommand /usr/bin/corkscrew proxy.example.com 8080 %h %p ~/.ssh/proxyauth
    # ProxyCommand /usr/bin/corkscrew 10.0.96.6 8080 %h %p ~/.ssh/proxyauth
    # ProxyCommand /usr/local/bin/corkscrew 192.168.0.2 80 %h %p

Host proxy_ssh
    # ssh -D 8080 -l username -i ~/.ssh/id_rsa remote.example.com
    Hostname remote.example.com
    User username
    IdentityFile ~/.ssh/id_rsa
    DynamicForward localhost:8080
