# use absolute paths
email:
  from: from@example.com
  to: to@example.com
series:
  settings:
    tv:
      set:
        path: /home/username/Downloads
telegram:
  bot_token: token
  username: username
transmission:
  netrc: /home/username/.netrc
exec:
  on_exit: /home/username/karpoke/scripts/transmission-add-trackings.sh
opensubtitles:
  username: username
  password: p4$$w0rD
movies:
  download: /home/username/Downloads
imdb:
  user_id: ur123456
  list: watchlist
